@{
    ViewBag.Title = "Добавить продукт";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Хорошая работа!</h4>
    <p>Продукт отправлен на проверку.</p>
</div>

<a asp-controller="ProductsInFridge" asp-action="Index">Вернуться на главную страницу</a>