@model FridgeV2.Models.Product
@{
    ViewBag.Title = "Добавить любимый продукт";
}

<div>
    <dl class="dl-horizontal">
        @Model.Name
    </dl>
    <div>
        <form asp-controller="FavoriteProducts" asp-action="ConfirmToAddFavoriteProduct" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn btn-default" value="Утвердить" />
            </div>
        </form>
    </div>
</div>