@model IEnumerable<FridgeV2.Models.FavoriteProduct>
@{
    ViewBag.Title = "Любимые продукты";
}
<h5>Список любимых продуктов</h5>


<table class="table">
    <tr>
        <td>Название продукта:</td>

        <td>Название производитель:</td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>

            <td>@item.ManufacturerName</td>
        </tr>
    }
</table>