@model IEnumerable<FridgeV2.Models.Product>
@{
    ViewBag.Title = "Любимые продукты";
}
<h5>Список любимых продуктов</h5>


<table class="table">
    <tr>
        <td>Название продукта:</td>

        <td>Производитель продукта:</td>
    </tr>


    @foreach (var item in Model)
    {
        if (item.LikeTheProduct == true)
        {
            <tr>
                <td>
                    @item.Name
                </td>

                <td>
                    @item.Manufacturer.Name
                </td>
            </tr>
        }
    }
</table>