@model FridgeV2.Models.User

@{
    ViewBag.Title = "Настройки аккаунта";
}

<html>
<body>
    <div>
        <h5>Настройки аккаунта</h5>

        <p>Изменить пароль</p>

        <a asp-controller="PersonalAccounts" asp-action="ChangePassword">Изменить</a>

    </div>
</body>
</html>