@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@model IEnumerable<FridgeV2.Models.User>

@{
    ViewBag.Title = "Личный кабинет";
}


<html>
<head>
    <style>

        #menu {
            float: left;
            width: 220px;
        }

        ul {
            list-style-type: none;
        }

        .generalInformation{
            position: fixed;
            left:700px;
            top:100px;
            background-color:#f7f1e3;
            width:650px;
            height:200px;
            box-shadow: 10px 10px 10px rgba(0,0,0,0.19);
        }

        .generalInformation-text{
            padding-left:15px;
        }
    </style>
</head>
<body>
    <div id="menu">
        <ul>
            <br>
            <li>
                <a class="btn btn-secondary" asp-controller="FavoriteProducts" asp-action="Index">Любимые продукты</a>
            </li>
            <br>

            <li>
                <a class="btn btn-secondary" asp-controller="PersonalAccounts" asp-action="AccountSetup">Настройки аккаунта</a>
            </li>
            <br>
            <li>
                <a class="btn btn-secondary" asp-controller="Account" asp-action="Logout">Выход</a>
            </li>
        </ul>
    </div>

    <div class="generalInformation generalInformation-text">
        <h3> Основная информация об аккаунте</h3>

        <h5>Имя : </h5>

        <p>@((await UserManager.GetUserAsync(User))?.FirstName)</p>

        <h5>Электронная почта : </h5>

        <p>@((await UserManager.GetUserAsync(User))?.Email)</p>
    </div>
</body>
</html>
