@model IEnumerable<FridgeV2.Models.RecipeList>

@{
    ViewBag.Title = "Рецепты";
}


<head>
    <meta charset="utf-8">
    <style>
        #sidebar {
            background-color: #ddd;
            float: left;
            width: 200px;
            height: 250px;
            margin-top: 15px;
            margin-left: 25px;
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: #eee;
            box-shadow: 10px 4px 10px 3px #888;
        } 
    </style>
</head>
<body>
    <h2>Список рецептов</h2>
    <a asp-action="Create" asp-controller="RecipesList">Добавить рецепт</a>
    <br />

    @foreach(var item in Model)
    {
        <div id="sidebar">
            <h6>@item.Name</h6>
            <a asp-action="Show" asp-controller="RecipesList" asp-route-id="@item.Id">Показать рецепт</a>
        </div>   
    }
    
</body>