@{
    ViewBag.Title = "Админ панель";
}
<h2>Админ панель</h2>

<a asp-controller="Users" asp-action="Index">Список пользователей</a> <a> - Тут можно посмотреть список пользователей</a>
<br>

<a asp-controller="Categories" asp-action="Index">Категории</a> <a> - Тут можно добавить категорию</a>
<br>

<a asp-controller="Shops" asp-action="Index">Список магазинов</a> <a> - Тут можно добавить магазины</a>
<br>

<a asp-controller="Roles" asp-action="Index">Роли</a> <a> - Тут можно редактировать роли </a>
<br>

<a asp-controller="Products" asp-action="Index">Продукты</a> <a> - Тут можно добавить продукты </a>
<br>

<a asp-controller="Manufacturers" asp-action="Index">Производитель</a> <a> - Тут можно добавить производителя </a>

