@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@{
    var expirationDate = await _notificationService.GetNotificationAsync();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">Онлайн холодильник</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ProductsInFridge" asp-action="Index">Холодильник</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingListItems" asp-action="Index">Список покупок</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="RecipesList" asp-action="Index">Рецепты</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <div>
                                    <img src="~/Images/Icons/NotificationBell.png" alt="Уведомления" class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <div>
                                            @if (expirationDate.Count > 0)
                                            {
                                                @foreach(var item in expirationDate)
                                                {
                                                    <p>@item испортилось</p>
                                                }
                                            }
                                            else
                                            {
                                                <p>Уведомлений нет</p>
                                            }
                                        </div>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </div>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Здравствуй, @((await UserManager.GetUserAsync(User))?.FirstName)!
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div>
                                        <a class="nav-link text-dark" asp-controller="PersonalAccounts" asp-action="Index">Личный кабинет</a>
                                    </div>
                                    @if (User.IsInRole("admin"))
                                    {
                                        <div>
                                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Админ панель</a>
                                        </div>
                                    }
                                    <div class="dropdown-divider"></div>
                                    <form class="form-inline" asp-controller="Account" asp-action="Logout">
                                        <button type="submit" class="btn btn-light">Выход</button>
                                    </form>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-dark" asp-controller="Account" asp-action="Login">Вход</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color: white; z-index:6;" class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Онлайн холодильник
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
